  -- Enable pgcrypto/functions if not present
  -- create extension if not exists "pgcrypto";

  create table if not exists public.profiles (
    id uuid primary key references auth.users on delete cascade,
    display_name text,
    timezone text not null default 'Asia/Shanghai',
    quick_templates jsonb not null default '{}'::jsonb,
    memos_host text,
    backup_folder text,
    created_at timestamptz not null default now(),
    updated_at timestamptz not null default now()
  );

  create type public.entry_source as enum ('manual', 'quick', 'import', 'api');

  create table if not exists public.entries (
    id uuid primary key default gen_random_uuid(),
    user_id uuid not null references public.profiles(id) on delete cascade,
    entry_date date not null,
    recorded_at timestamptz not null default now(),
    content text not null,
    metadata jsonb not null default '{}'::jsonb,
    source public.entry_source not null default 'manual',
    pinned boolean not null default false,
    created_at timestamptz not null default now(),
    updated_at timestamptz not null default now()
  );
  create index if not exists entries_user_date_idx on public.entries (user_id, entry_date);
  create index if not exists entries_metadata_gin_idx on public.entries using gin (metadata);

  create table if not exists public.tags (
    id uuid primary key default gen_random_uuid(),
    user_id uuid not null references public.profiles(id) on delete cascade,
    label text not null,
    category text not null check (category in ('weather','mood','task','activity','vitamin','custom')),
    color text,
    created_at timestamptz not null default now()
  );
  create unique index if not exists tags_user_label_category_idx
    on public.tags (user_id, lower(label), category);

  create table if not exists public.entry_tags (
    entry_id uuid not null references public.entries(id) on delete cascade,
    tag_id uuid not null references public.tags(id) on delete cascade,
    primary key (entry_id, tag_id)
  );

  create table if not exists public.external_accounts (
    id uuid primary key default gen_random_uuid(),
    user_id uuid not null references public.profiles(id) on delete cascade,
    provider text not null check (provider in ('memos','jianguoyun')),
    access_token text,
    config jsonb not null default '{}'::jsonb,
    last_synced_at timestamptz,
    created_at timestamptz not null default now(),
    updated_at timestamptz not null default now()
  );
  create unique index if not exists external_accounts_user_provider_idx
    on public.external_accounts (user_id, provider);

  create table if not exists public.backups (
    id bigint generated by default as identity primary key,
    user_id uuid not null references public.profiles(id) on delete cascade,
    exported_at timestamptz not null default now(),
    export_range daterange,
    file_name text,
    checksum text,
    meta jsonb not null default '{}'::jsonb
  );
  create index if not exists backups_user_exported_at_idx
    on public.backups (user_id, exported_at desc);

  -- Row-Level Security
  alter table public.profiles enable row level security;
  create policy if not exists "Profiles are owner readable"
    on public.profiles for select using (auth.uid() = id);
  create policy if not exists "Profiles self-manage"
    on public.profiles for update using (auth.uid() = id) with check (auth.uid() = id);

  alter table public.entries enable row level security;
  create policy if not exists "Entries are owner scoped"
    on public.entries for all using (auth.uid() = user_id) with check (auth.uid() = user_id);

  alter table public.tags enable row level security;
  create policy if not exists "Tags are owner scoped"
    on public.tags for all using (auth.uid() = user_id) with check (auth.uid() = user_id);

  alter table public.entry_tags enable row level security;
  create policy if not exists "Entry tags follow entry ownership"
    on public.entry_tags for all
    using (
      exists (
        select 1 from public.entries e
        where e.id = entry_id and e.user_id = auth.uid()
      )
    )
    with check (
      exists (
        select 1 from public.entries e
        where e.id = entry_id and e.user_id = auth.uid()
      )
    );

  alter table public.external_accounts enable row level security;
  create policy if not exists "External accounts are owner scoped"
    on public.external_accounts for all using (auth.uid() = user_id) with check (auth.uid() = user_id);

  alter table public.backups enable row level security;
  create policy if not exists "Backups are owner scoped"
    on public.backups for all using (auth.uid() = user_id) with check (auth.uid() = user_id);